#refinery .refinery-wrapper .refinery-content .showcase {
    position: relative;
    height: calc(100% - 54px);
    overflow: hidden;

    .content-wrapper {
        margin: 0 auto;
        padding: 30px 0 50px;
        max-width: 1520px;
        height: 3000px;

        .title {
            width: 100px;
            margin: 0 auto;
        }
    }
}
