#refinery .refinery-wrapper .refinery-content .person .wrapper {
    .title {
        span {
            font-family: BrownStdBold;
            font-size: 22px;
            letter-spacing: 2px;
            text-align: center;
            color: #ce912c;
        }
    }

    .grid-wrapper {
        margin-top: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        li {
            position: relative;
            width: 30%;
            margin: 1.4%;
            cursor: pointer;
            text-align: center;

            .picture {
                position: relative;

                img {
                    transition: all ease 0.3s;
                }

                .normal {
                    position: relative;
                    opacity: 1;
                }

                .hover {
                    position: absolute;
                    opacity: 0;
                    left: 0;
                    top: 0;
                }
            }

            .name {
                span {
                    font-family: BrownStdBold;
                    display: inline-block;
                    text-transform: uppercase;
                    font-size: 20px;
                    letter-spacing: 3px;
                    color: #ce912c;
                    padding-bottom: 12px;
                    border-bottom: 3px solid transparent;
                    transition: all ease 0.3s;
                }
            }

            &.active,
            &:hover {
                .picture {
                    .hover {
                        opacity: 1;
                    }

                    .noraml {
                        opacity: 0;
                    }
                }

                .name span {
                    color: red;
                }
            }

            &.active .name span {
                border-bottom: 3px solid red;
            }
        }
    }
}
