body,
html {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: all ease 0.3s;
    border: 0;
    background-color: #f1f1f1;
}
@import "./global.scss";
@import "./container.scss";
@import "./nav.scss";
@import "./input.scss";
@import "./plus.scss";
@import "./query.scss";
